 .container {
     border: 6px solid rgb(137, 148, 159);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     color: #555;
     background-color: aliceblue;
     background-color: gold;
 }

 .top {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .button_wrap {
    display: flex;
 }
 