.container {
  background-color: aliceblue;
  border: 6px solid rgb(118, 182, 243);
  height: 100vh;
  padding: 5rem 10rem;
  overflow: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
}

.products {
  display: grid;
}

.icon {
  display: flex;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
}
.icon:hover {
  opacity: 0.75;
}

.icon_no {
  color: #3d7db8;
  font-weight: 500;
  margin-left: 5px;
}

.main_sidebar {
}

.cart_sidebar {
  position: absolute;
  background-color: #fff;
  right: 0;
  min-width: 30rem;
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 0.25s, -webkit-transform 0.25s;
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
}

.active {
  transform: translateX(0);
}

.cart_sidebar_overlay {
  background: rgba(48, 55, 66, 0.5);
  border-color: transparent;
  border-radius: 0;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.cart_sidebar.active ~ .cart_sidebar_overlay {
  display: block;
  z-index: 100;
}

.cf_content {
  display: flex;
  flex-direction: column;
}

.cf_input_wrap {
  border: 1px dashed rgb(45, 44, 44);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cf_input {
  padding: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
  color: #222;
}

.cf_share_btn {
  background-color: #3d7db8;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  position: absolute;
  right: 0;
  display: flex;
  font-size: 0.95rem;
  justify-content: center;
  align-items: center;
}

.cf_pin_wrap {
  margin-top: 15px;
  position: relative;
}

.cf_pin {
  color: #555;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 8px;
}
